<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class = "navbar-nav">
    <li class = "nav-item">
      <a routerLink="employees" routerLinkActive="active" class="nav-link" >EMPLOYEE MANAGMENT SYSTEM</a>
  </li>
      <li class = "nav-item">
          <a routerLink="employees" routerLinkActive="active" class="nav-link" >Employee List</a>
      </li>
      <li class = "nav-item">
          <a routerLink="create-employee" routerLinkActive="active" class="nav-link" >Add Employee</a>
      </li>
  </ul>
</nav>

<h1 class="text-center"> {{title}} </h1>
<div class = "container">
  <router-outlet></router-outlet>
</div>
<footer class = "footer"  style="background-color: rgb(82, 80, 80); color: white; text-align: center; padding: 10px; width: 100%;">
  <div class = "container">
    <div class="copyright">
      &copy; Copyright <strong><span>2024</span></strong>
      Designed by <a href="https://nirajandh.github.io/Portfolio/" target="_blank" style="color: white;">Niranjan Dhayagude</a>
    </div>
    
  </div>
</footer>
